.arena-page {
  display: grid;
  justify-content: center;
  grid-template-columns: 100vw;
  grid-template-rows: 10% 15% auto 15% auto 10%;
  grid-template-areas:
    'title'
    'player-1'
    'image-1'
    'player-2'
    'image-2'
    'button';
}

.potting-shed {
  background-color: rgb(23, 199, 67);
}

.tesco-carpark {
  background-color: rgb(58, 85, 175);
}
.arena-page__btn {
  background-color: var(--secondary-color);
  color: black;
}

.arena-page__title {
  grid-area: title;
  color: black;
}

.player-1__arena {
  grid-area: player-1;
}

.player-2__arena {
  grid-area: player-2;
  width: 20%;
}

.fighter1-imagebox__arena {
  grid-area: image-1;
}

.fighter2-imagebox__arena {
  grid-area: image-2;
}

.player-image {
  height: 8rem;
  width: auto;
}
