.background_arena {
  background-color: green;
  width: 100vw;
  height: 100vh;
  justify-items: center;
  align-items: center;
  margin: 0;
  padding: 0;
}

.arena-page {
  width: 100vw;
  height: 100vh;
  display: grid;
  justify-content: center;
  margin: 0;
  grid-template-columns: 50% 50%;
  grid-template-rows: 100vh;
  grid-template-areas: 'player1-container player2-container';
}

.potting-shed {
  background-color: rgb(23, 199, 67);
}

.tesco-carpark {
  background-image: url('../images/mobile_arena_page.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

.player-1__container {
  grid-area: player1-container;
  height: 90vh;
  margin: 0.5rem;
  justify-content: center;
  display: grid;
  width: 10rem;
  margin-top: 3rem;
  grid-template-columns: 100%;
  grid-template-rows: 10% 25% 65%;
  grid-template-areas:
    'name1'
    'image-1'
    'healthbar1';
}

.player-2__container {
  grid-area: player2-container;
  height: 90vh;
  margin: 0.5rem;
  margin-top: 3rem;
  display: grid;
  width: 10rem;
  grid-template-columns: 100%;
  grid-template-rows: 10% 25% 65%;
  grid-template-areas:
    'name2'
    'image-2'
    'healthbar2';
}

.fighter_name {
  grid-area: name-1;
}

.opponent_name {
  grid-area: name-2;
}
.end-fight__btn {
  background-color: var(--secondary-color);
  color: black;
  grid-area: button;
  opacity: 1;
  align-self: center;
  justify-self: center;
}

.fighter1-imagebox__arena {
  grid-area: image-1;
}

.fighter2-imagebox__arena {
  grid-area: image-2;
}

.player-image {
  height: 9rem;
  width: auto;
}
.healthBar-container {
  padding: 0.5rem;
  display: grid;
  justify-items: center;
  flex-direction: column;
  grid-template-columns: 100%;
  grid-template-rows: 20% 80%;
  grid-template-areas:
    'heart'
    'health-bar';
}

.heart {
  grid-area: heart;
  height: 4rem;
  width: auto;
  z-index: 20;
}

.health-bar {
  position: relative;
  top: -2.5rem;
  height: 20rem;
  width: auto;
  grid-area: health-bar;
}
.progress-bar {
  background-color: rgb(155, 28, 28);
  grid-area: health-bar;
  position: relative;
  top: -1.5rem;
  left: 2px;
  width: 1.5rem;
  z-index: 10;
}

.attack_button {
  opacity: 1;
  z-index: 20;
  height: 5rem;
  width: auto;
  position: absolute;
  top: 70%;
  left: 40%;
}
.fight__button {
  opacity: 1;
  z-index: 30;
  height: 10rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 15rem;
  position: absolute;
  top: 10%;
  left: 15%;
  background-color: yellow;
}

.attack_thumbnail {
  height: 2rem;
  width: auto;
}

.end-fight__screen {
  background-color: yellowgreen;
  height: 10rem;
  width: 15rem;
  z-index: 30;
  height: 10rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 30%;
  left: 15%;
}

/* @media only screen and (min-width: 700px) {

  .arena-page {
    width: 100vw;
    height: 100vh;
    display: grid;
    justify-content: center;
    margin: 0;
    grid-template-columns: 50% 50%;
    grid-template-rows: 100vh;
    grid-template-areas: 'player1-container player2-container';
  }
  
  .potting-shed {
    background-color: rgb(23, 199, 67);
  }
  
  .tesco-carpark {
    background-image: url('../images/mobile_arena_page.jpg');
    background-size: cover;
    background-repeat: no-repeat;
  }
  
  .player-1__container {
    grid-area: player1-container;
    height: 90vh;
    margin: 0.5rem;
    justify-content: center;
    display: grid;
    width: 10rem;
    margin-top: 3rem;
    grid-template-columns: 100%;
    grid-template-rows: 10% 25% 65%;
    grid-template-areas:
      'name1'
      'image-1'
      'healthbar1';
  }
  
  .player-2__container {
    grid-area: player2-container;
    height: 90vh;
    margin: 0.5rem;
    margin-top: 3rem;
    display: grid;
    width: 10rem;
    grid-template-columns: 100%;
    grid-template-rows: 10% 25% 65%;
    grid-template-areas:
      'name2'
      'image-2'
      'healthbar2';
  }
  
  .fighter_name {
    grid-area: name-1;
  }
  
  .opponent_name {
    grid-area: name-2;
  }
  .end-fight__btn {
    background-color: var(--secondary-color);
    color: black;
    grid-area: button;
    opacity: 1;
    align-self: center;
    justify-self: center;
  }
  
  .fighter1-imagebox__arena {
    grid-area: image-1;
  }
  
  .fighter2-imagebox__arena {
    grid-area: image-2;
  }
  
  .player-image {
    height: 9rem;
    width: auto;
  }
  .healthBar-container {
    padding: 0.5rem;
    display: grid;
    justify-items: center;
    flex-direction: column;
    grid-template-columns: 100%;
    grid-template-rows: 20% 80%;
    grid-template-areas:
      'heart'
      'health-bar';
  }
  
  .heart {
    grid-area: heart;
    height: 4rem;
    width: auto;
    z-index: 20;
  }
  
  .health-bar {
    position: relative;
    top: -2.5rem;
    height: 20rem;
    width: auto;
    grid-area: health-bar;
  }
  .progress-bar {
    background-color: rgb(155, 28, 28);
    grid-area: health-bar;
    position: relative;
    top: -1.5rem;
    left: 2px;
    width: 1.5rem;
    z-index: 10;
  }
  
  .attack_button {
    opacity: 1;
    z-index: 20;
    height: 5rem;
    width: auto;
    position: absolute;
    top: 70%;
    left: 40%;
  }
  .fight__button {
    opacity: 1;
    z-index: 30;
    height: 10rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 15rem;
    position: absolute;
    top: 10%;
    left: 15%;
    background-color: yellow;
  }
  
  .attack_thumbnail {
    height: 2rem;
    width: auto;
  }
  
  .end-fight__screen {
    background-color: yellowgreen;
    height: 10rem;
    width: 15rem;
    z-index: 30;
    height: 10rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 30%;
    left: 15%;
  } 
} */
