.fighter-box {
  width: 70%;
  height: 7rem;
  justify-self: center;
  justify-content: center;
  align-items: center;
  display: grid;
  flex: 3;
  flex-direction: row;
  padding-top: 0.5rem;
  padding-bottom: 1rem;
  grid-template-columns: 10% 80% 10%;
  justify-content: column;
  grid-template-rows: 50% 25%;
  grid-template-areas:
    '. image .'
    'left button right';
}

.left-arrow-container {
  background-image: url('../images/arrow_bck_1.png');
  background-size: contain;
  grid-area: left;
  top: 0;
  height: 4rem;
  width: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  justify-self: flex-start;
}

.fighters__left-arrow {
  height: 3rem;
  width: auto;
  align-self: center;
  justify-self: center;
}

.right-arrow-container {
  background-image: url('../images/arrow_bck_2.png');
  background-size: contain;
  grid-area: right;
  height: 4rem;
  width: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  justify-self: flex-end;
}

.fighters__right-arrow {
  height: 3rem;
  width: auto;
  align-self: center;
  justify-self: center;
}

.fighter {
  grid-area: image;
  width: 5rem;
  height: 5rem;

  justify-self: center;

  opacity: 0;
}

.fighter.active {
  opacity: 1;
}

.fighter-image {
  align-self: center;
  height: 5rem;
  width: auto;
  padding-bottom: 0;
}

.pik-me-container {
  background-image: url('../images/arrow_bck_2.png');
  background-size: contain;
  background-repeat: no-repeat;
  justify-self: center;
  height: 3.25rem;
  width: 3.25rem;
  display: flex;
  justify-content: center;
  align-items: center;

  grid-area: button;
}

.fighter-btn {
  width: auto;
  height: 2.5rem;
  border: none;
  align-self: center;
  z-index: 100;
}

.ready-to-fight {
  font-family: 'Short Stack', cursive;
  color: rgb(68, 44, 31);
  font-size: 1.5rem;
  text-transform: uppercase;
  margin-top: 0.5rem;
}

.ready-to-fight-container {
  height: 8rem;
  width: 15rem;
}

@media only screen and (min-width: 700px) {
  .fighter-box {
    width: 65%;
    padding-top: 3rem;
    padding-bottom: 0;
    grid-template-rows: 60% 15%;
  }

  .left-arrow-container {
    height: 5rem;
    width: 5rem;
  }

  .fighters__left-arrow {
    height: 4rem;
  }

  .right-arrow-container {
    height: 5rem;
    width: 5rem;
  }

  .fighters__right-arrow {
    height: 4rem;
  }

  .fighter {
    width: 10rem;
    height: 10rem;
  }

  .fighter-image {
    height: 8rem;
  }

  .pik-me-container {
    margin-bottom: 0;
    margin-top: 3rem;
    height: 4.5rem;
    width: 4.5rem;
  }

  .fighter-btn {
    height: 3.5rem;
  }

  .ready-to-fight-container {
    height: 8rem;
    width: 18rem;
  }

  .ready-to-fight {
    font-size: 2rem;
    margin-top: 0.5rem;
  }
}
