.fighter-box {
  width: 70%;
  height: 7rem;
  justify-self: center;
  justify-content: center;
  align-items: center;
  display: grid;
  flex: 3;
  flex-direction: row;
  padding-top: 0.5rem;
  padding-bottom: 1rem;
  grid-template-columns: 10% 80% 10%;
  justify-content: column;
  grid-template-rows: 25% 50% 25%;
  grid-template-areas:
    '. image .'
    'left image right'
    'button button button';
}

.left-arrow-container {
  background-image: url('../images/arrow_bck_1.png');
  background-size: contain;
  grid-area: left;
  top: 0;
  height: 4rem;
  width: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  justify-self: flex-start;
}

.fighters__left-arrow {
  height: 3rem;
  width: auto;
  align-self: center;
  justify-self: center;
}

.right-arrow-container {
  background-image: url('../images/arrow_bck_2.png');
  background-size: contain;
  grid-area: right;
  height: 4rem;
  width: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  justify-self: flex-end;
}

.fighters__right-arrow {
  height: 3rem;
  width: auto;
  align-self: center;
  justify-self: center;
}

.fighter {
  grid-area: image;
  width: 8rem;
  height: 8rem;
  display: grid;
  justify-self: center;
  justify-content: space-between;
  grid-template-columns: 100%;
  grid-template-rows: 30% 70%;
  grid-template-areas:
    'f-name'
    'f-image';
  opacity: 0;
}

.fighter.active {
  opacity: 1;
}

.fighter-image {
  grid-area: f-image;
  justify-self: center;
  height: 3rem;
  width: auto;
  flex: 1.5;
}

.fighter-name {
  font-family: 'Short Stack', cursive;
  color: rgb(53, 41, 27);
  grid-area: f-name;
  align-self: center;
  justify-self: center;
  flex: 1;
}

.fighter-btn {
  height: auto;
  width: 6rem;
  border: none;
  grid-area: button;
  justify-self: center;
  padding: 4px;
}
