.fighter-box {
  border-bottom: solid 2px rgb(42, 94, 49);
  width: 60%;
  height: 6rem;
  justify-self: center;
  justify-content: center;
  align-items: center;
  display: grid;
  flex: 3;
  flex-direction: row;
  padding-top: 0.5rem;
  padding-bottom: 1rem;
  grid-template-columns: 10% 80% 10%;
  justify-content: column;
  grid-template-rows: 25% 50% 25%;
  grid-template-areas:
    '. image .'
    'left image right'
    'button button button';
}

.fighters__left-arrow {
  grid-area: left;
  align-self: center;
  justify-self: center;
}

.fighters__right-arrow {
  align-self: center;
  justify-self: center;
  grid-area: right;
}

.fighter {
  grid-area: image;
  width: 8rem;
  height: 8rem;
  display: grid;
  justify-self: center;
  justify-content: space-between;
  grid-template-columns: 100%;
  grid-template-rows: 30% 70%;
  grid-template-areas:
    'f-name'
    'f-image';
  opacity: 0;
}

.fighter.active {
  opacity: 1;
}

.fighter-image {
  grid-area: f-image;
  justify-self: center;
  height: 3rem;
  width: auto;
  flex: 1.5;
}

.fighter-name {
  grid-area: f-name;
  align-self: center;
  justify-self: center;
  flex: 1;
}

.fighter-btn {
  height: auto;
  width: 8rem;
  border: none;
  grid-area: button;
  justify-self: center;
  padding: 4px;
}
