.home-page {
  /* background-color: var(--color-white); */
  background-color: rgb(46, 172, 63);
  height: 100vh;
  justify-content: center;
  display: grid;
  grid-template-columns: 70vw;
  grid-template-rows: 3rem 6rem auto 6rem auto 3rem 4rem 3rem;
  grid-template-areas:
    'title'
    'player-1'
    'fighter1'
    'player-2'
    'fighter2'
    'arena-title'
    'arena-form'
    'form-btn';
}

.home-page__title {
  grid-area: title;
  color: black;
}

.player-1 {
  grid-area: player-1;
}

.player-fighter1 {
  grid-area: fighter1;
}

.player-2 {
  grid-area: player-2;
}

.player-fighter2 {
  grid-area: fighter2;
}

.arena-form {
  grid-area: arena-form;
  padding: 0.5rem;
  margin: 0.25rem;
}
.home-page__btn {
  grid-area: form-btn;
  background-color: var(--secondary-color);
  color: rgb(255, 255, 255);
  margin: 0.25rem;
  padding: 0.25rem;
}
