.background_home {
  background-image: url('../images/desktop_pattern.jpg');
  width: 100vw;
  height: 100vh;
  justify-items: center;
  align-items: center;
  margin: 0;
  padding: 0;
}

.home-page {
  background-image: url('../images/mobile_home_page.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100vw;
  justify-content: center;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 85% 15%;
  grid-template-areas:
    'fighters'
    'arena';
}

.choose-fighters {
  margin: 0.5rem;
  border-radius: 5px;
  grid-area: fighters;
  display: grid;
  height: 100%;
  grid-template-columns: 100%;
  grid-template-rows: 5rem 35% 35%;
  grid-template-areas:
    'player1'
    'frame1'
    'frame2';
}

.player1-frame {
  grid-area: frame1;
}

.player2-frame {
  grid-area: frame2;
}
.player-1 {
  grid-area: player1;
  height: 2rem;
}

.player-fighter1 {
  grid-area: fighter1;
}

.player-fighter2 {
  grid-area: fighter2;
}

.choose-arena {
  margin: 0.75rem;
  margin-top: 0;
  padding: 1.5rem;
  padding-top: 0.5rem;
  grid-area: arena;
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  grid-template-rows: 100%;
  grid-template-areas: 'arena1 arena2 arena3 arena4';
}

.potting-shed-choice {
  grid-area: arena2;
  height: 3.5rem;
  width: 3.5rem;
  /* border: solid 3px black; */
}

.tesco-carpark-choice {
  grid-area: arena3;
  height: 3.5rem;
  width: 3.5rem;
  margin-left: 0.75rem;
  /* border: solid 3px black; */
}

.arena-3-choice {
  grid-area: arena1;
  height: 3.5rem;
  width: 3.5rem;

  /* border: solid 3px rgb(114, 10, 10); */
}

.arena-4-choice {
  grid-area: arena4;
  height: 3.5rem;
  width: 3.5rem;
  margin-left: 0.75rem;
  /* border: solid 3px rgb(114, 10, 10); */
}

@media only screen and (min-width: 700px) {
  .home-page {
    background-image: url('../images/tablet_home_page.jpg');
    width: 700px;
    height: 100%;
    align-self: center;
    margin: auto;
  }

  .choose-fighters {
    margin: 1rem;
    grid-template-rows: 8rem 35% 35%;
  }

  .choose-arena {
    margin: 0;
  }

  .potting-shed-choice {
    margin-left: 3.5rem;
    height: 4.5rem;
    width: 4.5rem;
  }

  .tesco-carpark-choice {
    margin-left: 2.5rem;
    height: 4.5rem;
    width: 4.5rem;
  }

  .arena-3-choice {
    margin-left: 4rem;
    height: 4.5rem;
    width: 4.5rem;
  }

  .arena-4-choice {
    margin-left: 1.75rem;
    height: 4.5rem;
    width: 4.5rem;
  }
}
