.home-page {
  background-image: url('../images/mobile_home_page.jpg');
  background-size: contain;
  height: 100vh;
  justify-content: center;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 85% 15%;
  grid-template-areas:
    'fighters'
    'arena';
}

.choose-fighters {
  margin: 0.75rem;
  border-radius: 5px;
  grid-area: fighters;
  display: grid;

  grid-template-columns: 100%;
  grid-template-rows: 40% 40%;
  grid-template-areas:
    'frame1'
    'frame2';
}
/* .home-page__title {
  font-size: 1.25rem;
  grid-area: title;
  color: black;
} */

.player1-frame {
  grid-area: frame1;
}

.player2-frame {
  grid-area: frame2;
}
.player-1 {
  grid-area: player1;
}

.player-fighter1 {
  grid-area: fighter1;
}

.player-2 {
  grid-area: player-2;
}

.player-fighter2 {
  grid-area: fighter2;
}

.choose-arena {
  margin: 0.75rem;
  margin-top: 0;
  border-radius: 5px;

  grid-area: arena;
  display: grid;
  grid-template-columns: 60% 40%;
  grid-template-rows: 55% 45%;
  grid-template-areas:
    'arena-title arena-title'
    'arena-form arena-form';
}

.arena-form {
  grid-area: arena-form;
}

.arena-title {
  font-size: 1.25rem;
  grid-area: arena-title;
}

.home-page__btn {
  background-color: var(--secondary-color);
  color: rgb(255, 255, 255);
  margin: 0.25rem;
  padding: 0.25rem;
}
