.landing-page {
  background-color: aquamarine;
  display: grid;
  grid-template-columns: 100vw;
  grid-template-rows: 70vh 30vh;
  grid-template-areas:
    'title'
    'btn';
}

.landing-page__btn {
  grid-area: btn;
  background-color: rgb(14, 97, 32);
  color: black;
}

.landing-page__title {
  grid-area: title;
  color: black;
}
