.player-card {
  align-content: flex-end;
  display: flex;
  width: 75%;

  height: 4rem;
  position: relative;
  top: 1rem;
  right: 0;
  justify-content: flex-end;
  margin-top: 1rem;
  margin-bottom: 0;
  padding-top: 0.5rem;
  padding-bottom: 0;
}

.player-points {
  font-family: 'Short Stack', cursive;
  color: rgb(53, 41, 27);
  align-self: center;

  padding-right: 0.25rem;
  margin-left: 0;
  font-size: 0.75rem;
}

.player-btn {
  height: 1.5rem;
  width: auto;
  align-self: center;
  font-size: 0.75rem;
  padding: 0 3px;
}
