.player-card {
  border-bottom: solid 2px rgb(42, 94, 49);
  align-content: space-between;
  display: flex;
  width: 100%;
  height: 2rem;
  flex: 1;
  justify-content: space-between;
  align-items: center;
  margin: 0.5rem;
  margin-bottom: 1.5rem;
  padding: 0.25rem 0;
}

.player-title {
  font-size: 1.25rem;
  align-self: center;
  justify-self: flex-start;
  padding: 0.25rem;
  margin-right: 0;
  border-radius: 3px;
}

.player-points {
  align-self: center;
  justify-self: flex-start;
  padding: 0.25rem;
  margin-left: 0;
  font-size: 0.75rem;
  border-radius: 3px;
}

.player-btn {
  justify-self: flex-end;
  font-size: 0.75rem;
  padding: 0 3px;
}
